<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <title>Lista de empleados</title>
  </head>
  <body>
        <h1 id="text-h">Empleados</h1>
    <div class="row" id="header" style="background-color:burlywood;">
      <div class="row-fluid ml-auto mr-auto" style="margin:30px;">
      </div> 
  </div> 

    <table class="styled-table">
      <tr>
        <div class="d-flex">
        <th>NSS</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Tipo de sangre</th>
        <th>Cargo</th>
        <th>Teléfono celular</th>
        <th></th>
        <th></th>
        </div>
        <!--Se crean dos columnas sin nombre-->
      </tr>
      <!--Dentro de la tabla se estara ingresando la informacion proveniente del json-->
      <% Object.keys(person).forEach(function(prop) { %>
      <!--Menciona que por cada llave de person utilizara un prop-->
      <tr>
        <td><%- person[prop].nss %></td>
        <td><%- person[prop].nombre %></td>
        <td><%- person[prop].edad %></td>
        <td><%- person[prop].tipoSangre %></td>
        <td><%- person[prop].cargo %></td>
        <td><%- person[prop].cel %></td>
        <td><a href="<%= `deletePerson/${person[prop]._id}` %>" class="btn btn-danger">Delete</a></td>
        <td><a href="<%= `findById/${person[prop]._id}` %>" class="btn btn-success">Update</a></td>
        <!--Se crean la edicion y eliminacion del documento por medio de un hipervinculo-->
      </tr>
      <% }); %>
    </table>

    <br />
    <div class="d-flex justify-content-around">
      <a class="btn btn-outline-primary col-2 ml-auto mr-auto" href="/addPerson" role="button">Agregar empleado</a>
      <a class="btn btn-warning col-2 ml-auto mr-auto" href="/" role="button">Regresar</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>